<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sleepybaby">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SleepyBaby"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepyBaby"
        tools:targetApi="31">

        <!-- Main Activity with LAUNCHER intent filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ThreadActivity" android:exported="true" />
        <activity android:name=".AddChildActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".AddSleepTimeActivity" />
        <activity android:name=".AddWakeTimeActivity" />

    </application>

</manifest>
